.login-form {
	.form-group {
		position: relative;

		label {
			display: block;
			margin-bottom: 5px;
		}

		.password-input {
			position: relative;
			display: flex;
			align-items: center;
			width: 100%;

			input {
				flex: 1;
				padding-right: 40px;
			}

			.password-toggle-icon {
				position: absolute;
				right: 10px;
				cursor: pointer;
			}
		}
	}
}
