.button-send {
	border-radius: 8px;
	border: none;
	padding: 10px 0;
	margin-bottom: 15px;
	background-color: #316fea;
	color: #fff;
}

.button-cancel {
	border-radius: 8px;
	border: none;
	padding: 10px 0;
	border: 1px solid #d3d8dc;
}
